.buttonEditIcon,
.buttonSettingsIcon,
.buttonTrashIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.buttonEditIcon,
.buttonSettingsIcon {
  right: 42px;
}
.buttonSettingsIcon {
  right: 84px;
}
.background,
.col5,
.row1,
.row2,
.row3,
.row4,
.row5 {
  position: absolute;
  top: 320px;
  right: 0;
  width: 116px;
  height: 32px;
}
.background,
.col5,
.row1,
.row2,
.row3,
.row4 {
  top: 240px;
}
.background,
.col5,
.row1,
.row2,
.row3 {
  top: 160px;
}
.background,
.col5,
.row1,
.row2 {
  top: 80px;
}
.background,
.col5,
.row1 {
  top: 0;
}
.background,
.col5 {
  top: 109px;
  right: 30px;
  height: 352px;
}
.background {
  top: 0;
  right: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-papayawhip);
  width: 81px;
  height: 26px;
}
.inProgress {
  position: absolute;
  top: 5px;
  right: 7px;
  font-weight: 500;
  display: inline-block;
  width: 64px;
  height: 14px;
}
.background1,
.button {
  position: absolute;
  top: 320px;
  right: 0;
  width: 81px;
  height: 26px;
}
.background1 {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-mistyrose-100);
  width: 67px;
}
.rejected {
  position: absolute;
  top: 5px;
  right: 3px;
  font-weight: 500;
  display: inline-block;
  width: 55px;
  height: 14px;
}
.background2,
.button1 {
  position: absolute;
  right: 0;
  height: 26px;
}
.button1 {
  top: 240px;
  width: 67px;
  color: var(--color-crimson-100);
}
.background2 {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightcyan-200);
  width: 65px;
}
.success {
  position: absolute;
  top: 5px;
  right: 1px;
  font-weight: 500;
  display: inline-block;
  width: 55px;
  height: 14px;
}
.button2 {
  position: absolute;
  top: 160px;
  right: 0;
  width: 65px;
  height: 26px;
  color: var(--color-mediumturquoise);
}
.background3,
.background4,
.button3 {
  position: absolute;
  right: 0;
  width: 80px;
  height: 26px;
}
.background3 {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-papayawhip);
}
.background4,
.button3 {
  top: 80px;
}
.background4 {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lavender);
  width: 74px;
}
.approved {
  position: absolute;
  top: 5px;
  right: 9px;
  font-weight: 500;
  display: inline-block;
  width: 55px;
  height: 14px;
}
.button4,
.col4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 74px;
  height: 26px;
  color: var(--color-blueviolet-100);
}
.col4 {
  top: 112px;
  right: 204px;
  width: 81px;
  height: 346px;
  font-size: var(--font-size-2xs);
  color: var(--color-orange);
}
.angularjsC,
.reactjsRuby {
  position: absolute;
  top: 320px;
  right: 0;
  font-weight: 500;
}
.angularjsC {
  top: 240px;
}
.laravelMetronic,
.pythonMysql,
.reactjsHtml {
  position: absolute;
  top: 160px;
  right: 0;
  font-weight: 500;
}
.pythonMysql,
.reactjsHtml {
  top: 80px;
}
.reactjsHtml {
  top: 0;
}
.col3 {
  position: absolute;
  top: 115px;
  right: 374px;
  width: 111px;
  height: 340px;
  display: none;
  text-align: right;
}
.div,
.paid {
  position: absolute;
  top: 24px;
  right: 0;
  font-weight: 500;
}
.div {
  top: 0;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 131px;
  height: 24px;
}
.col2,
.item1,
.item2,
.item3,
.item4,
.item5 {
  position: absolute;
  top: 310px;
  right: 0;
  width: 131px;
  height: 44px;
}
.col2,
.item1,
.item2,
.item3,
.item4 {
  top: 230px;
}
.col2,
.item1,
.item2,
.item3 {
  top: 150px;
}
.col2,
.item1,
.item2 {
  top: 70px;
}
.col2,
.item1 {
  top: 0;
}
.col2 {
  top: 114px;
  right: 344px;
  height: 354px;
  text-align: right;
}
.ftp {
  font-weight: 600;
}
.bprowbnccc {
  font-weight: 500;
  color: var(--color-silver-100);
}
.ftpBprowbnccc,
.ktrMobileApplication {
  position: absolute;
  top: 28px;
  left: 65px;
}
.ktrMobileApplication {
  top: 4px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: inline-block;
  width: 217px;
  height: 24px;
}
.item5Child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  width: 50px;
  height: 50px;
}
.kickstarterIcon {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 29px;
  height: 29px;
  overflow: hidden;
  object-fit: cover;
}
.hrManagement,
.item51 {
  position: absolute;
  top: 320px;
  left: 0;
  width: 282px;
  height: 50px;
}
.hrManagement {
  top: 4px;
  left: 65px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: inline-block;
  width: 321px;
  height: 24px;
}
.ciscoManagement,
.item41 {
  position: absolute;
  top: 240px;
  left: 0;
  width: 386px;
  height: 50px;
}
.ciscoManagement {
  top: 4px;
  left: 65px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: inline-block;
  width: 370px;
  height: 24px;
}
.item31,
.telegramIcon {
  position: absolute;
  top: 160px;
  left: 0;
  width: 435px;
  height: 50px;
}
.telegramIcon {
  top: 11px;
  left: 11px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  object-fit: cover;
}
.item21,
.santOutstanding {
  position: absolute;
  top: 80px;
  left: 0;
  width: 386px;
  height: 50px;
}
.santOutstanding {
  top: 4px;
  left: 65px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: inline-block;
  width: 289px;
  height: 24px;
}
.col1,
.item11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 354px;
  height: 50px;
}
.col1 {
  top: 100px;
  left: 30px;
  width: 435px;
  height: 370px;
  color: var(--color-darkslategray-100);
}
.background5 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslategray-100);
  width: 53px;
  height: 34px;
}
.day,
.week {
  font-weight: 600;
}
.day {
  position: absolute;
  top: 8px;
  right: 15px;
  color: var(--color-white);
}
.week {
  right: 67px;
}
.month,
.tabs,
.week {
  position: absolute;
  top: 8px;
}
.month {
  right: 131px;
  font-weight: 600;
}
.tabs {
  right: 0;
  width: 170px;
  height: 34px;
}
.moreThan400,
.newArrivals {
  left: 0;
  line-height: 21px;
  font-weight: 500;
}
.newArrivals {
  position: absolute;
  top: 0;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  display: inline-block;
  width: 115px;
  height: 22px;
}
.moreThan400 {
  top: 29px;
}
.head,
.moreThan400,
.widget6 {
  position: absolute;
}
.head {
  top: 26px;
  right: 30px;
  width: 1261px;
  height: 50px;
  font-size: var(--font-size-xs);
}
.widget6 {
  top: 372px;
  left: 1px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 1320px;
  height: 495px;
  overflow: hidden;
}
.brivibaSaas,
.phpSqliteArtisan {
  position: absolute;
  top: 21px;
  left: 54px;
  font-weight: 500;
}
.brivibaSaas {
  top: 0;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.icon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.item12,
.item22,
.item32,
.item42,
.item52 {
  position: absolute;
  top: 352px;
  left: 30px;
  width: 208px;
  height: 41px;
}
.item12,
.item22,
.item32,
.item42 {
  top: 282px;
}
.item12,
.item22,
.item32 {
  top: 212px;
}
.item12,
.item22 {
  top: 142px;
}
.item12 {
  top: 72px;
}
.dotsChild {
  top: 0;
  right: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-silver-100);
  width: 6px;
}
.dots,
.dotsChild,
.dotsItem {
  position: absolute;
  height: 6px;
}
.dotsItem {
  top: 0;
  right: 11px;
  border-radius: var(--br-11xs);
  background-color: var(--color-silver-200);
  width: 6px;
}
.dots {
  top: 11px;
  right: 0;
  width: 17px;
}
.salesProgress {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.head1 {
  position: absolute;
  top: 23px;
  right: 31.5px;
  width: 610px;
  height: 26px;
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
}
.background6,
.widget5 {
  position: absolute;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
}
.widget5 {
  top: 0;
  left: 650.6px;
  width: 670.5px;
  height: 343px;
  overflow: hidden;
  font-size: var(--font-size-xs);
}
.background6 {
  height: 99.8%;
  width: 100%;
  top: 0.2%;
  right: 0;
  bottom: 0;
  left: 0;
}
.topChild,
.topItem {
  position: absolute;
  width: calc(100% + 13.5px);
  top: 100.2px;
  right: -6px;
  left: -7.5px;
  max-width: 100%;
  overflow: hidden;
  height: 201.3px;
  object-fit: cover;
}
.topItem {
  top: 106.2px;
  height: 65.3px;
}
.button5 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 85px;
  opacity: 0.12;
}
.export {
  position: absolute;
  top: 6px;
  right: 35px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 36px;
}
.arrowIcon {
  position: absolute;
  top: 13px;
  right: 15.5px;
  width: 6.5px;
  height: 3px;
  object-fit: cover;
}
.exportButton {
  position: absolute;
  height: calc(100% - 212px);
  top: 22px;
  right: 30px;
  bottom: 190px;
  width: 85px;
}
.categories {
  position: absolute;
  top: 27px;
  left: 29px;
  font-size: var(--font-size-mid);
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  width: 119px;
  height: 22px;
}
.top,
.widget1 {
  position: absolute;
  left: 0;
  border-radius: var(--br-xs);
}
.top {
  width: calc(100% - 0.1px);
  top: 0;
  right: 0.1px;
  background-color: var(--color-crimson-100);
  height: 242px;
  overflow: hidden;
}
.widget1 {
  top: 1px;
  background-color: var(--color-white);
  width: 628.1px;
  height: 342px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.widgets {
  position: absolute;
  top: 403px;
  left: 400px;
  width: 1321.1px;
  height: 867px;
}
.backgroundRectangle,
.highlightedRectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.highlightedRectangle {
  height: 2.93%;
  top: 6.37%;
  right: 0.63%;
  bottom: 90.7%;
  left: -0.63%;
  background-color: var(--color-gray-300);
}
.layersIcon,
.layout4Blocks,
.topPartIcon {
  position: absolute;
  height: 4.33%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 95.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.layersIcon,
.layout4Blocks {
  height: 19.25%;
  bottom: 80.75%;
}
.layout4Blocks {
  height: 18.48%;
  width: 96.66%;
  top: 81.59%;
  right: 3.34%;
  bottom: -0.06%;
}
.iconsBright {
  position: absolute;
  height: 8.66%;
  width: 9.37%;
  top: 7%;
  right: 82.71%;
  bottom: 84.34%;
  left: 7.93%;
}
.custom {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.headings {
  position: absolute;
  height: 1.2%;
  width: 19.24%;
  top: 11.34%;
  right: 71.71%;
  bottom: 87.46%;
  left: 9.05%;
}
.chat,
.contacts,
.pages,
.users {
  position: absolute;
  height: 13.06%;
  width: 58.96%;
  top: 0;
  left: 1.78%;
  display: inline-block;
}
.chat,
.contacts,
.pages {
  width: 100%;
  top: 28.96%;
  left: 0;
}
.chat,
.pages {
  width: 53.48%;
  top: 57.98%;
}
.pages {
  width: 66.07%;
  top: 86.94%;
  left: 1.78%;
}
.subheadings {
  position: absolute;
  height: 9.2%;
  width: 21.15%;
  top: 17%;
  right: 58.87%;
  bottom: 73.8%;
  left: 19.99%;
  color: var(--color-lightslategray-300);
}
.dashboard {
  height: 9.08%;
  width: 40.14%;
  top: 42.88%;
  left: 18.22%;
}
.applications,
.dashboard,
.dashboard1 {
  position: absolute;
  display: inline-block;
}
.dashboard1 {
  height: 14.32%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 30px;
  font-weight: 800;
}
.applications {
  height: 9.08%;
  width: 44.57%;
  top: 90.92%;
  left: 18.22%;
}
.subheadingsActive {
  position: absolute;
  height: 14.7%;
  width: 68.61%;
  top: 0.83%;
  right: 21.99%;
  bottom: 84.47%;
  left: 9.4%;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.strokesChild,
.strokesInner,
.strokesItem {
  position: absolute;
  height: 1.04%;
  width: 116.67%;
  top: -0.52%;
  right: -8.33%;
  bottom: 99.48%;
  left: -8.33%;
  border-top: 1px solid var(--color-slategray-300);
  box-sizing: border-box;
}
.strokesInner,
.strokesItem {
  top: 49.43%;
  bottom: 49.53%;
}
.strokesInner {
  top: 99.48%;
  bottom: -0.52%;
}
.strokes {
  position: absolute;
  height: 5.34%;
  width: 1.88%;
  top: 17.6%;
  right: 83.4%;
  bottom: 77.06%;
  left: 14.72%;
}
.barcodeReadIcon,
.bound,
.box3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.barcodeReadIcon,
.box3 {
  height: 7.48%;
  top: 92.52%;
}
.barcodeReadIcon {
  top: 0;
  bottom: 92.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.arrowsIcon,
.iconsFaded {
  position: absolute;
  height: 21.4%;
  width: 9.05%;
  top: 24.8%;
  right: 83.4%;
  bottom: 53.8%;
  left: 7.55%;
}
.arrowsIcon {
  height: 11.16%;
  width: 3.51%;
  top: 14.64%;
  right: 10.18%;
  bottom: 74.2%;
  left: 86.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background7,
.sidebar {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.sidebar {
  width: 17.66%;
  right: 82.34%;
  background-color: var(--color-gray-200);
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.background7 {
  width: 100%;
  right: 0;
  background-color: var(--color-white);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.05);
}
.dashboard2 {
  position: absolute;
  height: 62.6%;
  width: 33.27%;
  top: 25.19%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.addNewButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-papayawhip);
}
.addNew {
  position: absolute;
  height: 62.6%;
  width: 74.68%;
  top: 18.7%;
  left: 12.61%;
  font-weight: 500;
  display: inline-block;
}
.addNewButton {
  position: absolute;
  height: 100%;
  width: 35.55%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 64.45%;
  color: var(--color-orange);
}
.leftChild {
  height: 71.43%;
  width: 0.37%;
  top: 20.78%;
  right: 53.47%;
  bottom: 7.79%;
  left: 46.15%;
  border-right: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.left,
.leftChild,
.today1 {
  position: absolute;
}
.left {
  height: 59.23%;
  width: 18%;
  top: 16.62%;
  right: 79.57%;
  bottom: 24.15%;
  left: 2.43%;
}
.today1 {
  height: 71.51%;
  width: 69.48%;
  top: 14.24%;
  left: 15.19%;
  font-weight: 500;
  display: inline-block;
}
.todayActive,
.todayActiveChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.todayActiveChild {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
}
.todayActive {
  color: var(--color-dodgerblue-100);
}
.monthActiveChild,
.today {
  position: absolute;
  height: 87.53%;
  width: 16.82%;
  top: 6.23%;
  right: 83.18%;
  bottom: 6.23%;
  left: 0;
}
.monthActiveChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-dodgerblue-300);
}
.month2 {
  position: absolute;
  height: 62.6%;
  width: 69.99%;
  top: 18.7%;
  left: 14.94%;
  font-weight: 500;
  display: inline-block;
}
.monthActive {
  height: 159.75%;
  width: 142.89%;
  top: -29.88%;
  right: -21.54%;
  bottom: -29.88%;
  left: -21.34%;
  display: none;
}
.month1,
.month3,
.monthActive {
  position: absolute;
}
.month3 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
  color: var(--color-lightslategray-200);
  display: inline-block;
}
.month1 {
  height: 62.6%;
  width: 11.97%;
  top: 18.7%;
  right: 63.81%;
  bottom: 18.7%;
  left: 24.22%;
  color: var(--color-royalblue-200);
}
.year1,
.yearActive1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.yearActive1 {
  height: 62.6%;
  width: 61.19%;
  top: 18.7%;
  left: 18.31%;
}
.yearActive {
  position: absolute;
  height: 159.75%;
  width: 163.43%;
  top: -29.88%;
  right: -33.52%;
  bottom: -29.88%;
  left: -29.92%;
  display: none;
  color: var(--color-royalblue-100);
}
.actions,
.year {
  position: absolute;
  height: 62.6%;
  top: 18.7%;
}
.year {
  width: 8.54%;
  right: 45.29%;
  bottom: 18.7%;
  left: 46.17%;
}
.actions {
  width: 62.77%;
  left: 17.98%;
  font-weight: 500;
  display: inline-block;
}
.actionsButtonPassive {
  position: absolute;
  height: 100%;
  width: 22.23%;
  top: 0;
  right: 11.94%;
  bottom: 0;
  left: 65.82%;
  color: var(--color-lightslategray-100);
}
.actionsButtonActiveChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-royalblue-200);
}
.actions1 {
  position: absolute;
  height: 62.6%;
  width: 49.46%;
  top: 18.7%;
  left: 14.17%;
  font-weight: 500;
  display: inline-block;
}
.sort1Icon {
  position: absolute;
  height: 75.06%;
  width: 24.22%;
  top: 15.58%;
  right: 6.12%;
  bottom: 9.35%;
  left: 69.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.actionsButtonActive {
  position: absolute;
  height: 100%;
  width: 28.22%;
  top: 0;
  right: 11.94%;
  bottom: 0;
  left: 59.84%;
  display: none;
  color: var(--color-white);
}
.filePlusIcon {
  position: absolute;
  height: 93.77%;
  width: 8.54%;
  top: 3.12%;
  right: 0;
  bottom: 3.12%;
  left: 91.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.right {
  height: 59.23%;
  width: 28.42%;
  top: 20.31%;
  right: 2.03%;
  bottom: 20.46%;
  left: 69.55%;
  color: var(--color-lightslategray-200);
}
.right,
.sep,
.sunheader {
  position: absolute;
}
.sunheader {
  height: 3.6%;
  width: 82.34%;
  top: 4.33%;
  right: 0;
  bottom: 92.07%;
  left: 17.66%;
  background-color: var(--color-white);
  overflow: hidden;
  color: var(--color-darkslategray-200);
}
.sep {
  top: 64px;
  left: 0;
  background-color: var(--color-whitesmoke-300);
  width: 1235px;
  height: 1px;
}
.compilingIcon,
.searchIcon {
  position: absolute;
  height: 100%;
  width: 12%;
  top: 0;
  right: 88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.compilingIcon {
  right: 66%;
  left: 22%;
}
.rectangle62Copy,
.rectangle62Copy2,
.rectangle62Copy3,
.rectangle62Copy4 {
  position: absolute;
  width: 12.46%;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue-100);
}
.rectangle62Copy {
  height: 66.78%;
  top: 16.61%;
  right: 33.22%;
  bottom: 16.61%;
  left: 54.33%;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.rectangle62Copy2,
.rectangle62Copy3,
.rectangle62Copy4 {
  height: 45.67%;
  top: 37.37%;
  right: 54.33%;
  bottom: 16.96%;
  left: 33.22%;
}
.rectangle62Copy3,
.rectangle62Copy4 {
  height: 37.37%;
  top: 45.67%;
  right: 12.46%;
  left: 75.09%;
}
.rectangle62Copy3 {
  height: 29.07%;
  top: 53.98%;
  right: 75.09%;
  left: 12.46%;
}
.equalizer,
.layout4BlocksIcon,
.stockholmIconsShoppingC {
  position: absolute;
  height: 100%;
  width: 12%;
  top: 0;
  right: 44%;
  bottom: 0;
  left: 44%;
}
.layout4BlocksIcon,
.stockholmIconsShoppingC {
  right: 22%;
  left: 66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.layout4BlocksIcon {
  right: 0;
  left: 88%;
}
.icons {
  position: absolute;
  height: 50%;
  width: 55.85%;
  top: 10.38%;
  right: 44.15%;
  bottom: 39.62%;
  left: 0;
}
.nickThomas {
  position: absolute;
  height: 83.74%;
  width: 19.01%;
  top: 16.26%;
  left: 66.4%;
  font-weight: 500;
  display: inline-block;
}
.rectangle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-lightcyan-100);
}
.initialIcon,
.n,
.rectangle {
  position: absolute;
}
.n {
  height: 74.35%;
  width: 28.57%;
  top: 11.4%;
  left: 36.18%;
  display: inline-block;
}
.initialIcon {
  height: 72.84%;
  width: 10.06%;
  top: 0;
  right: 0;
  bottom: 27.16%;
  left: 89.94%;
  font-size: var(--font-size-mid);
  color: var(--color-mediumseagreen-100);
}
.header,
.right1 {
  position: absolute;
  height: 73.91%;
  width: 28.99%;
  top: 21.48%;
  right: 2.43%;
  bottom: 4.6%;
  left: 68.58%;
}
.header {
  height: 4.33%;
  width: 82.34%;
  top: 0;
  right: 0;
  bottom: 95.67%;
  left: 17.66%;
  background-color: var(--color-white);
  overflow: hidden;
  font-size: var(--font-size-2xs);
  color: var(--color-lightslategray-200);
}
.defaultToggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1807px;
  height: 1805px;
}
.saas {
  margin: 0;
}
.saasApplication {
  position: absolute;
  top: 96px;
  left: 0;
  line-height: 19px;
  font-weight: 600;
  display: inline-block;
  width: 108px;
  height: 45px;
}
.libraryIcon {
  position: absolute;
  width: 77.96%;
  top: calc(50% - 70.5px);
  right: 12.41%;
  left: 9.63%;
  max-width: 100%;
  overflow: hidden;
  height: 81px;
  object-fit: cover;
}
.iconText,
.item13 {
  position: absolute;
  top: 18px;
  left: 52px;
  width: 108px;
  height: 141px;
}
.item13 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 210px;
  height: 197px;
  overflow: hidden;
  font-size: var(--font-size-lg);
}
.mainCategories {
  position: absolute;
  top: 96px;
  left: calc(50% - 56.5px);
  line-height: 19px;
  font-weight: 600;
}
.layout4BlocksIcon1 {
  position: absolute;
  width: 62.21%;
  top: calc(50% - 67px);
  right: 18.05%;
  left: 19.73%;
  max-width: 100%;
  overflow: hidden;
  height: 81px;
  object-fit: cover;
}
.iconText1 {
  position: absolute;
  top: 15px;
  left: calc(50% - 57px);
  width: 113px;
  height: 134px;
}
.item23 {
  position: absolute;
  top: 0;
  left: 270px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 210px;
  height: 197px;
  overflow: hidden;
}
.videoTutorials {
  position: absolute;
  top: 93px;
  left: 17.8px;
  line-height: 19px;
  font-weight: 600;
  display: inline-block;
  width: 89px;
  height: 56px;
}
.movieLane2Icon {
  position: absolute;
  height: 47.65%;
  width: 92.51%;
  top: 0;
  right: 7.49%;
  bottom: 52.35%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iconText2,
.item33 {
  position: absolute;
  top: 24px;
  left: 55.2px;
  width: 106.8px;
  height: 149px;
}
.item33 {
  top: 0;
  left: 571px;
  border-radius: var(--br-xs);
  background-color: #50cd89;
  width: 210px;
  height: 197px;
  overflow: hidden;
  color: var(--color-white);
}
.salesStatistics {
  position: absolute;
  top: 96px;
  left: 0;
  line-height: 19px;
  font-weight: 600;
  display: inline-block;
  width: 121px;
  height: 49px;
}
.rectangle62Copy1,
.rectangle62Copy21,
.rectangle62Copy31,
.rectangle62Copy41 {
  position: absolute;
  width: 12.5%;
  border-radius: var(--br-11xs);
  background-color: var(--color-silver-100);
}
.rectangle62Copy1 {
  height: 66.63%;
  top: 16.63%;
  right: 33.33%;
  bottom: 16.74%;
  left: 54.17%;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.rectangle62Copy21,
.rectangle62Copy31,
.rectangle62Copy41 {
  height: 45.81%;
  top: 37.56%;
  right: 54.17%;
  bottom: 16.63%;
  left: 33.33%;
}
.rectangle62Copy31,
.rectangle62Copy41 {
  height: 37.56%;
  top: 45.81%;
  right: 12.5%;
  left: 75%;
}
.rectangle62Copy31 {
  height: 29.19%;
  top: 54.19%;
  right: 75%;
  left: 12.5%;
}
.equalizer1 {
  position: absolute;
  height: 59.31%;
  width: 69.42%;
  top: 0;
  right: 23.14%;
  bottom: 40.69%;
  left: 7.44%;
}
.iconText3,
.item43 {
  position: absolute;
  top: 21px;
  left: 54px;
  width: 121px;
  height: 145px;
}
.item43 {
  top: 0;
  left: 847px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 210px;
  height: 197px;
  overflow: hidden;
}
.arcSecurity {
  position: absolute;
  top: 91px;
  left: 0;
  line-height: 19px;
  font-weight: 600;
}
.shieldCheckIcon {
  position: absolute;
  height: 58.14%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 41.86%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iconText4 {
  position: absolute;
  top: 34px;
  left: 58px;
  width: 95px;
  height: 129px;
}
.item53,
.tabs1 {
  position: absolute;
  height: 197px;
  overflow: hidden;
}
.item53 {
  top: 0;
  left: 1111px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 210px;
}
.tabs1 {
  top: 172px;
  left: 400px;
  width: 1343px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.colTitlesBg {
  position: absolute;
  width: calc(100% - 60px);
  top: 100px;
  right: 30px;
  left: 30px;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  height: 43px;
}
.background8,
.buttonIcon {
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
}
.buttonIcon {
  top: 321px;
  object-fit: cover;
  display: none;
}
.background8 {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
}
.bookmark1Icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  overflow: hidden;
  object-fit: cover;
}
.buttonBookmark {
  position: absolute;
  top: 321px;
  right: 42px;
  width: 32px;
  height: 32px;
  display: none;
}
.background9 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightcyan-200);
  width: 92px;
  height: 34px;
}
.viewOffer {
  position: absolute;
  top: 8px;
  right: 14px;
  font-weight: 600;
}
.button6,
.button7,
.button8,
.button9 {
  position: absolute;
  top: 240px;
  right: 0;
  width: 92px;
  height: 34px;
}
.button7,
.button8,
.button9 {
  top: 160px;
}
.button8,
.button9 {
  top: 80px;
}
.button9 {
  top: 0;
}
.col6 {
  top: 181px;
  right: 30px;
  width: 92px;
  height: 274px;
  font-size: var(--font-size-xs);
  color: var(--color-mediumturquoise);
}
.aHero,
.col6,
.item54 {
  position: absolute;
}
.aHero {
  top: 24px;
  right: 88px;
  font-weight: 500;
}
.item54 {
  top: 383px;
  right: 30px;
  width: 131px;
  height: 44px;
  display: none;
}
.avarage {
  position: absolute;
  top: 23px;
  left: calc(50% - 36.5px);
  font-weight: 500;
}
.halfStartIcon,
.starIcon,
.starIcon1,
.starIcon2,
.starIcon3 {
  position: absolute;
  top: 0;
  left: calc(50% - 38.5px);
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.halfStartIcon,
.starIcon1,
.starIcon2,
.starIcon3 {
  left: calc(50% - 23.5px);
}
.halfStartIcon,
.starIcon2,
.starIcon3 {
  left: calc(50% - 8.5px);
}
.halfStartIcon,
.starIcon3 {
  left: calc(50% + 6.5px);
}
.starIcon3 {
  left: calc(50% + 21.5px);
}
.item34,
.item44 {
  position: absolute;
  top: 304px;
  left: calc(50% - 80px);
  width: 77px;
  height: 43px;
}
.item34 {
  top: 224px;
}
.aboveAvarage {
  position: absolute;
  top: 23px;
  left: calc(50% - 50px);
  font-weight: 500;
}
.halfStartIcon1,
.starIcon10,
.starIcon11,
.starIcon12,
.starIcon9 {
  position: absolute;
  top: 0;
  left: calc(50% - 52px);
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.halfStartIcon1,
.starIcon10,
.starIcon11,
.starIcon12 {
  left: calc(50% - 37px);
}
.halfStartIcon1,
.starIcon11,
.starIcon12 {
  left: calc(50% - 22px);
}
.halfStartIcon1,
.starIcon12 {
  left: calc(50% - 7px);
}
.halfStartIcon1 {
  left: calc(50% + 8px);
}
.item14,
.item24 {
  position: absolute;
  top: 144px;
  left: calc(50% - 80px);
  width: 104px;
  height: 43px;
}
.item14 {
  top: 64px;
  width: 77px;
}
.rating {
  top: 0;
  left: calc(50% - 79px);
  letter-spacing: 0.03em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 158px;
  height: 18px;
}
.col51,
.rating,
.title {
  position: absolute;
}
.title {
  top: 0;
  left: calc(50% - 78px);
  width: 158px;
  height: 18px;
  font-size: var(--font-size-xs);
}
.col51 {
  top: 113px;
  right: 131px;
  width: 160px;
  height: 347px;
}
.insurance,
.theHill {
  position: absolute;
  top: 24px;
  left: calc(50% - 65.5px);
  font-weight: 500;
}
.theHill {
  top: 0;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 131px;
  height: 24px;
}
.item45 {
  top: 303px;
  left: calc(50% - 79px);
}
.item25,
.item35,
.item45 {
  position: absolute;
  width: 131px;
  height: 44px;
}
.item35 {
  top: 223px;
  left: calc(50% - 79px);
}
.item25 {
  top: 143px;
}
.item15,
.item25,
.title1 {
  left: calc(50% - 79px);
}
.item15 {
  position: absolute;
  top: 63px;
  width: 131px;
  height: 44px;
}
.title1 {
  top: 0;
  width: 158px;
  height: 18px;
  font-size: var(--font-size-xs);
}
.col41,
.paid5,
.title1 {
  position: absolute;
}
.col41 {
  top: 113px;
  right: 321px;
  width: 158px;
  height: 347px;
}
.paid5 {
  top: 24px;
  right: 102px;
  font-weight: 500;
}
.col21,
.col31 {
  position: absolute;
  top: 113px;
  right: 479px;
  width: 158px;
  height: 347px;
}
.col21 {
  right: 654px;
}
.htmlAngularjsRuby {
  position: absolute;
  top: 27px;
  left: 64px;
  font-weight: 500;
}
.product71Icon {
  top: 0;
  left: -15px;
  width: 75px;
  object-fit: cover;
}
.img,
.item58,
.nataliTrump,
.product71Icon {
  position: absolute;
  height: 50px;
}
.img {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 50px;
  overflow: hidden;
}
.item58,
.nataliTrump {
  top: 380px;
  left: 1px;
  width: 281px;
  display: none;
}
.nataliTrump {
  top: 3px;
  left: 64px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 217px;
  height: 24px;
}
.avatarIcon,
.item48 {
  position: absolute;
  height: 50px;
}
.avatarIcon {
  top: 0;
  left: 0;
  width: 50px;
  object-fit: cover;
}
.item48 {
  top: 300px;
  left: 1px;
  width: 281px;
}
.lebronWayde,
.phpLaravelVuejs {
  position: absolute;
  top: 32px;
  left: 64px;
  font-weight: 500;
}
.lebronWayde {
  top: 8px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 217px;
  height: 24px;
}
.boy22Icon {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
}
.item38 {
  position: absolute;
  top: 215px;
  left: 1px;
  width: 281px;
  height: 52px;
}
.cAspnetMs,
.jessieClarcson {
  position: absolute;
  top: 27px;
  left: 65px;
  font-weight: 500;
}
.jessieClarcson {
  top: 3px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 217px;
  height: 24px;
}
.item18,
.item28 {
  position: absolute;
  top: 140px;
  left: 0;
  width: 282px;
  height: 50px;
}
.item18 {
  top: 60px;
}
.products {
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 158px;
  height: 18px;
}
.col11,
.products,
.title4 {
  position: absolute;
}
.title4 {
  top: 0;
  left: 20px;
  width: 158px;
  height: 18px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.col11 {
  top: 113px;
  left: 30px;
  width: 282px;
  height: 350px;
}
.background13 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-crimson-100);
  width: 80px;
  height: 34px;
}
.button10,
.create {
  position: absolute;
  top: 8px;
}
.create {
  right: 19px;
  font-weight: 600;
}
.button10 {
  right: 0;
  width: 80px;
  height: 34px;
}
.background14,
.button11 {
  position: absolute;
  width: 108px;
  height: 34px;
}
.background14 {
  top: 0;
  right: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-dodgerblue-200);
}
.button11 {
  top: 8px;
  right: 90px;
}
.moreThan4001 {
  position: absolute;
  top: 29px;
  left: 0;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-silver-100);
}
.head2 {
  top: 26px;
  right: 30px;
  width: 1116px;
  height: 50px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.head2,
.head3,
.widget7 {
  position: absolute;
}
.widget7 {
  top: 984px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 1175px;
  height: 493px;
  overflow: hidden;
}
.head3 {
  top: 26px;
  right: 30px;
  width: 714px;
  height: 50px;
  font-size: var(--font-size-xs);
}
.widget61 {
  position: absolute;
  top: 530px;
  left: 402px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 773px;
  height: 423px;
  overflow: hidden;
}
.head4 {
  position: absolute;
  top: 23px;
  right: 31px;
  width: 312px;
  height: 26px;
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
}
.widget4Child,
.widget51 {
  position: absolute;
  overflow: hidden;
}
.widget51 {
  top: 530px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 372px;
  height: 423px;
  font-size: var(--font-size-xs);
}
.widget4Child {
  width: calc(100% + 17px);
  right: -7.5px;
  bottom: -39.5px;
  left: -9.5px;
  max-width: 100%;
  height: 160px;
  object-fit: cover;
}
.salesChange {
  top: 61px;
  right: 30px;
  font-weight: 500;
}
.div20,
.icon10,
.salesChange {
  position: absolute;
}
.div20 {
  top: 22px;
  right: 29px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-darkslategray-100);
}
.icon10 {
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.widget4 {
  top: 265px;
  left: 804px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 371px;
  height: 235px;
  text-align: right;
  font-size: var(--font-size-sm);
}
.widget3,
.widget3Child,
.widget4 {
  position: absolute;
  overflow: hidden;
}
.widget3Child {
  width: calc(100% + 18px);
  right: -7px;
  bottom: -45.5px;
  left: -11px;
  max-width: 100%;
  height: 159.5px;
  object-fit: cover;
}
.widget3 {
  top: 0;
  left: 804px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 371px;
  height: 235px;
  text-align: right;
  font-size: var(--font-size-sm);
}
.outlinesKeepYou {
  position: absolute;
  width: calc(100% - 72px);
  top: 0;
  left: 72px;
  line-height: 20px;
  display: inline-block;
  height: 78px;
}
.item6Child {
  position: absolute;
  top: 21px;
  left: 53px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-600);
  width: 3px;
  height: 40px;
  display: none;
}
.item6Item {
  top: 3px;
  left: 48px;
  border-radius: 50%;
  border: 3px solid var(--color-blueviolet-100);
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.div22,
.item6,
.item6Item {
  position: absolute;
}
.div22 {
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 49px;
  height: 24px;
}
.item6 {
  width: calc(100% - 64px);
  top: 382px;
  right: 34px;
  left: 30px;
  height: 78px;
}
.xf2356 {
  color: var(--color-blueviolet-100);
}
.newOrderPlacedContainer {
  position: absolute;
  top: 0;
  left: 71px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  width: 217px;
  height: 24px;
}
.item5Inner {
  position: absolute;
  top: 22px;
  left: 53px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-600);
  width: 3px;
  height: 24px;
}
.ellipseDiv {
  top: 4px;
  left: 48px;
  border-radius: 50%;
  border: 3px solid #ef6327;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.div23,
.ellipseDiv,
.item512 {
  position: absolute;
}
.div23 {
  top: 1px;
  left: 0;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: inline-block;
  width: 49px;
  height: 24px;
}
.item512 {
  top: 334px;
  left: 30px;
  width: 288px;
  height: 46px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.outlinesKeepYou1 {
  position: absolute;
  width: calc(100% - 72px);
  top: 0;
  left: 72px;
  line-height: 20px;
  display: inline-block;
  height: 51px;
}
.item4Inner {
  position: absolute;
  top: 21px;
  left: 53px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-600);
  width: 3px;
  height: 55px;
}
.item4Child1 {
  position: absolute;
  top: 3px;
  left: 48px;
  border-radius: 50%;
  border: 3px solid var(--color-dodgerblue-200);
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.item412 {
  position: absolute;
  width: calc(100% - 64px);
  top: 257px;
  right: 34px;
  left: 30px;
  height: 76px;
}
.makeDepositUsdContainer {
  position: absolute;
  top: 0;
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 217px;
  height: 24px;
}
.item3Child1 {
  position: absolute;
  top: 21px;
  left: 53px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-600);
  width: 3px;
  height: 24px;
}
.item3Child2 {
  top: 3px;
  left: 48px;
  border-radius: 50%;
  border: 3px solid var(--color-crimson-100);
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.div25,
.item312,
.item3Child2 {
  position: absolute;
}
.div25 {
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: inline-block;
  width: 49px;
  height: 24px;
}
.item312 {
  top: 210px;
  left: 30px;
  width: 289px;
  height: 45px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.userIcon,
.userIcon1,
.userIcon2 {
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.userIcon {
  left: 286px;
  display: none;
}
.userIcon1,
.userIcon2 {
  left: 245px;
}
.userIcon2 {
  left: 204px;
}
.aeolMeetingWith {
  position: absolute;
  top: 8px;
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 217px;
  height: 24px;
}
.item2Inner {
  position: absolute;
  top: 29px;
  left: 53px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-600);
  width: 3px;
  height: 32px;
}
.item2Child1 {
  top: 11px;
  left: 48px;
  border-radius: 50%;
  border: 3px solid var(--color-mediumturquoise);
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.div26,
.item212,
.item2Child1 {
  position: absolute;
}
.div26 {
  top: 8px;
  left: 0;
  font-size: var(--font-size-sm);
  font-weight: 600;
  display: inline-block;
  width: 49px;
  height: 24px;
}
.item212 {
  top: 147px;
  left: 30px;
  width: 289px;
  height: 61px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.item1Inner {
  position: absolute;
  top: 21px;
  left: 53px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-600);
  width: 3px;
  height: 40px;
}
.item1Child1 {
  position: absolute;
  top: 3px;
  left: 48px;
  border-radius: 50%;
  border: 3px solid #663259;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}
.item112 {
  position: absolute;
  width: calc(100% - 64px);
  top: 92px;
  right: 34px;
  left: 30px;
  height: 61px;
}
.sales1 {
  position: absolute;
  top: 27px;
  left: 0;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  width: 122px;
  height: 28px;
}
.recentActivities {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-mid);
  font-weight: 600;
  color: var(--color-darkslategray-100);
}
.dots2,
.head5 {
  position: absolute;
}
.dots2 {
  top: 25px;
  right: 0;
  width: 17px;
  height: 6px;
}
.head5 {
  top: 23px;
  left: 30px;
  width: 302px;
  height: 55px;
}
.background21,
.background22,
.top1,
.widget2 {
  position: absolute;
  border-radius: var(--br-xs);
}
.widget2 {
  top: 0;
  left: 402px;
  background-color: var(--color-white);
  width: 372px;
  height: 500px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-slategray-100);
}
.background21,
.background22,
.top1 {
  width: 100%;
  right: 0;
  left: 0;
}
.background21 {
  height: 99.78%;
  top: 0.22%;
  bottom: 0;
  background-color: var(--color-white);
}
.background22,
.top1 {
  top: 0;
}
.top1 {
  background-color: var(--color-crimson-100);
  height: 242px;
  overflow: hidden;
}
.background22 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-lightcyan-200);
}
.bugReports {
  position: absolute;
  top: 74px;
  left: 20px;
  line-height: 21px;
  font-weight: 500;
}
.stockholmIconsCommunicatio {
  position: absolute;
  top: 35px;
  left: 16px;
  width: 35px;
  height: 35.3px;
  object-fit: cover;
}
.cart4 {
  position: absolute;
  top: calc(50% + 9.5px);
  left: calc(50% + 10px);
  width: 145px;
  height: 120px;
}
.background23 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: #ffe2e6;
}
.itemOrders {
  position: absolute;
  top: 74px;
  left: 20px;
  line-height: 21px;
  font-weight: 500;
  opacity: 0.35;
}
.compilingIcon1 {
  position: absolute;
  width: 23.45%;
  top: calc(50% - 27px);
  right: 64.83%;
  left: 11.72%;
  max-width: 100%;
  overflow: hidden;
  height: 34px;
  object-fit: cover;
}
.cart3 {
  position: absolute;
  top: calc(50% + 9.5px);
  left: calc(50% - 155px);
  width: 145px;
  height: 120px;
  color: #f65464;
}
.background24 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-lavender);
}
.newUsers {
  position: absolute;
  top: 72px;
  left: 20px;
  line-height: 21px;
  font-weight: 500;
  opacity: 0.35;
}
.addUserIcon {
  position: absolute;
  width: 24.14%;
  top: calc(50% - 28px);
  right: 62.07%;
  left: 13.79%;
  max-width: 100%;
  overflow: hidden;
  height: 35px;
  object-fit: cover;
}
.cart2 {
  position: absolute;
  top: calc(50% - 129.5px);
  left: calc(50% + 10px);
  width: 145px;
  height: 120px;
  color: #8a50fc;
}
.background25 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-papayawhip);
}
.rectangle62Copy22,
.rectangle62Copy32,
.rectangle62Copy42,
.rectangle62Copy5 {
  position: absolute;
  width: 12.56%;
  bottom: 16.67%;
  border-radius: var(--br-11xs);
  background-color: var(--color-orange);
}
.rectangle62Copy5 {
  height: 66.67%;
  top: 16.67%;
  right: 33.33%;
  left: 54.1%;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.rectangle62Copy22,
.rectangle62Copy32,
.rectangle62Copy42 {
  height: 45.9%;
  top: 37.44%;
  right: 54.1%;
  left: 33.33%;
}
.rectangle62Copy32,
.rectangle62Copy42 {
  height: 37.44%;
  top: 45.9%;
  right: 12.31%;
  left: 75.13%;
}
.rectangle62Copy32 {
  height: 29.23%;
  top: 54.1%;
  right: 74.87%;
  left: 12.56%;
}
.equalizer2 {
  position: absolute;
  width: 26.9%;
  top: calc(50% - 30px);
  right: 62.76%;
  left: 10.34%;
  height: 39px;
}
.cart1,
.carts {
  position: absolute;
  top: calc(50% - 129.5px);
  left: calc(50% - 155px);
  width: 145px;
  height: 120px;
  color: #634101;
}
.carts {
  top: calc(50% - 54px);
  width: 310px;
  height: 259px;
  font-size: var(--font-size-sm);
  color: #74bbb7;
}
.widget11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 372px;
  height: 500px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.quickToolsIcon,
.widgets1 {
  position: absolute;
  top: 149px;
  left: 295px;
  width: 1175px;
  height: 1477px;
}
.quickToolsIcon {
  top: 283px;
  left: 1454px;
  width: 46px;
  height: 170px;
  object-fit: cover;
}
.highlightedRectangle1,
.highlightedRectangle2 {
  position: absolute;
  height: 2.93%;
  width: 100%;
  top: 13.27%;
  right: 0;
  bottom: 83.8%;
  left: 0;
  background-color: var(--color-gray-300);
}
.highlightedRectangle2 {
  height: 100%;
  top: 0;
  bottom: 0;
}
.arrowDoubleLeft {
  position: absolute;
  height: 36.96%;
  width: 9.05%;
  top: 30.82%;
  right: 9.43%;
  bottom: 32.23%;
  left: 81.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.metronic {
  position: absolute;
  height: 33.89%;
  width: 38.5%;
  top: 32.35%;
  left: 9.05%;
  letter-spacing: 0.03em;
  display: inline-block;
}
.topPart {
  position: absolute;
  height: 4.33%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 95.67%;
  left: 0;
  font-size: var(--font-size-lg);
  font-family: var(--font-museo-sans);
}
.components,
.custom1,
.layout {
  position: absolute;
  height: 3.78%;
  width: 62.15%;
  top: 0;
  left: 0;
  display: inline-block;
}
.components,
.layout {
  width: 54.86%;
  top: 56.18%;
}
.components {
  width: 100%;
  top: 96.22%;
}
.headings1 {
  position: absolute;
  height: 31.8%;
  width: 30.95%;
  top: 11.34%;
  right: 59.99%;
  bottom: 56.86%;
  left: 9.05%;
  color: var(--color-dimgray);
}
.chat1,
.contacts1,
.pages1,
.users1 {
  position: absolute;
  height: 2.95%;
  width: 44.67%;
  top: 0;
  left: 2.69%;
  display: inline-block;
}
.chat1,
.contacts1,
.pages1 {
  width: 75.76%;
  top: 6.53%;
  left: 1.35%;
}
.chat1,
.pages1 {
  width: 40.52%;
  top: 13.08%;
}
.pages1 {
  width: 50.06%;
  top: 19.61%;
  left: 2.69%;
}
.base,
.builder,
.custom2,
.extended,
.general,
.icons1,
.portlets,
.subheaders {
  position: absolute;
  height: 2.95%;
  width: 98.65%;
  top: 36.43%;
  left: 1.35%;
  display: inline-block;
}
.base,
.builder,
.custom2,
.extended,
.general,
.icons1,
.portlets {
  width: 64.87%;
  top: 43.63%;
}
.base,
.builder,
.custom2,
.extended,
.icons1,
.portlets {
  width: 55.44%;
  top: 50.81%;
}
.base,
.custom2,
.extended,
.icons1,
.portlets {
  width: 40.52%;
  top: 68.31%;
  left: 0;
}
.custom2,
.extended,
.icons1,
.portlets {
  width: 64.87%;
  top: 75.49%;
  left: 1.35%;
}
.extended,
.icons1,
.portlets {
  width: 75.76%;
  top: 82.69%;
  left: 2.69%;
}
.icons1,
.portlets {
  width: 43.21%;
  top: 89.87%;
  left: 8.08%;
}
.portlets {
  width: 60.83%;
  top: 97.07%;
}
.subheadings1 {
  position: absolute;
  height: 40.8%;
  width: 27.91%;
  top: 17%;
  right: 52.47%;
  bottom: 42.2%;
  left: 19.61%;
  color: var(--color-lightslategray-300);
}
.applications1,
.dashboard3 {
  position: absolute;
  height: 15.9%;
  width: 90.06%;
  top: 0;
  left: 0;
  display: inline-block;
}
.applications1 {
  width: 100%;
  top: 84.17%;
}
.subheadingsActive1 {
  position: absolute;
  height: 8.4%;
  width: 30.58%;
  top: 7.14%;
  right: 47.53%;
  bottom: 84.47%;
  left: 21.9%;
  font-size: var(--font-size-smi);
}
.iconsFaded1 {
  height: 33.14%;
  width: 9.05%;
  top: 24.8%;
  right: 83.4%;
  bottom: 42.07%;
  left: 7.55%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.arrowsIcon1,
.iconsFaded1,
.sidebar1 {
  position: absolute;
  overflow: hidden;
}
.arrowsIcon1 {
  height: 42.75%;
  width: 3.51%;
  top: 14.64%;
  right: 10.18%;
  bottom: 42.6%;
  left: 86.31%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.sidebar1 {
  height: 100%;
  width: 17.66%;
  top: 0;
  right: 82.34%;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.dashboard4,
.xrs45670 {
  position: absolute;
  height: 62.6%;
  width: 25.5%;
  top: 18.7%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.xrs45670 {
  width: 29.31%;
  left: 40.33%;
  color: var(--color-lightslategray-200);
}
.addNewButton1 {
  position: absolute;
  height: 100%;
  width: 27.25%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 72.75%;
  color: var(--color-orange);
}
.leftItem {
  position: absolute;
  height: 71.43%;
  width: 0.29%;
  top: 14.29%;
  right: 64.34%;
  bottom: 14.29%;
  left: 35.37%;
  border-right: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
}
.left1 {
  position: absolute;
  height: 59.23%;
  width: 23.48%;
  top: 20.31%;
  right: 74.09%;
  bottom: 20.46%;
  left: 2.43%;
}
.compilingIcon2,
.searchIcon1,
.todayActive2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.todayActive2 {
  width: 100%;
  right: 0;
  color: var(--color-dodgerblue-200);
}
.compilingIcon2,
.searchIcon1 {
  width: 10.12%;
  right: 89.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.compilingIcon2 {
  right: 71.31%;
  left: 18.56%;
}
.rectangle62Copy23,
.rectangle62Copy33,
.rectangle62Copy43,
.rectangle62Copy6 {
  position: absolute;
  width: 12.46%;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue-200);
}
.rectangle62Copy6 {
  height: 66.78%;
  top: 16.61%;
  right: 33.22%;
  bottom: 16.61%;
  left: 54.33%;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.rectangle62Copy23,
.rectangle62Copy33,
.rectangle62Copy43 {
  height: 45.67%;
  top: 37.37%;
  right: 54.33%;
  bottom: 16.96%;
  left: 33.22%;
}
.rectangle62Copy33,
.rectangle62Copy43 {
  height: 37.37%;
  top: 45.67%;
  right: 12.46%;
  left: 75.09%;
}
.rectangle62Copy33 {
  height: 29.07%;
  top: 53.98%;
  right: 75.09%;
  left: 12.46%;
}
.equalizer3,
.flagIcon,
.layout4BlocksIcon2,
.stockholmIconsShoppingC1 {
  position: absolute;
  height: 100%;
  width: 10.12%;
  top: 0;
  right: 52.75%;
  bottom: 0;
  left: 37.13%;
}
.flagIcon,
.layout4BlocksIcon2,
.stockholmIconsShoppingC1 {
  right: 34.19%;
  left: 55.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.flagIcon,
.layout4BlocksIcon2 {
  right: 15.62%;
  left: 74.26%;
}
.flagIcon {
  height: 70.59%;
  width: 7.18%;
  top: 16.61%;
  right: 0;
  bottom: 12.8%;
  left: 92.82%;
}
.icons2 {
  position: absolute;
  height: 50%;
  width: 66.2%;
  top: 10.38%;
  right: 33.8%;
  bottom: 39.62%;
  left: 0;
}
.sean {
  font-size: var(--font-size-smi);
  color: var(--color-slategray-200);
}
.hiSean,
.pages3 {
  position: absolute;
  font-weight: 500;
}
.hiSean {
  height: 83.22%;
  width: 13.68%;
  top: 16.61%;
  left: 71.78%;
  display: inline-block;
}
.pages3 {
  height: 55.66%;
  width: 59.45%;
  top: 22.17%;
  left: 20.34%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active,
.pages2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.pages2 {
  width: 31.5%;
  right: 68.5%;
  color: var(--color-dodgerblue-200);
}
.active {
  width: 100%;
  right: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-ghostwhite-100);
}
.featuresActive1 {
  position: absolute;
  height: 55.66%;
  width: 82.67%;
  top: 22.17%;
  left: 8.66%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featuresActive {
  position: absolute;
  height: 179.67%;
  width: 120.96%;
  top: -39.83%;
  right: -10.48%;
  bottom: -39.83%;
  left: -10.48%;
  display: none;
}
.features1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 500;
  color: var(--color-slategray-200);
  display: flex;
  align-items: center;
  justify-content: center;
}
.apps1,
.features {
  position: absolute;
  height: 55.66%;
  top: 22.17%;
}
.features {
  width: 26.04%;
  right: 32.87%;
  bottom: 22.17%;
  left: 41.09%;
}
.apps1 {
  width: 49.34%;
  left: 24.67%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appsActive {
  position: absolute;
  height: 179.67%;
  width: 202.68%;
  top: -39.83%;
  right: -52.68%;
  bottom: -39.83%;
  left: -50%;
  display: none;
}
.apps,
.left2 {
  position: absolute;
  height: 55.66%;
  width: 15.54%;
  top: 22.17%;
  right: -0.04%;
  bottom: 22.17%;
  left: 84.5%;
}
.left2 {
  height: 55.37%;
  width: 17.73%;
  top: 19.95%;
  right: 74.5%;
  bottom: 24.68%;
  left: 7.77%;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-royalblue-100);
}
.toggleIcon,
.toggleIcon1 {
  position: absolute;
  height: 2%;
  width: 2%;
  top: 1.14%;
  bottom: 96.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.toggleIcon {
  right: 81.33%;
  left: 16.67%;
  display: none;
}
.toggleIcon1 {
  right: 78.33%;
  left: 19.67%;
}
.defaultToggle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1807px;
  height: 1805px;
  display: none;
}
.line,
.line1,
.line2,
.line3,
.line4,
.line5 {
  position: absolute;
  width: 100.09%;
  top: -0.5px;
  right: -0.05%;
  left: -0.05%;
  border-top: 1px dashed var(--color-whitesmoke-500);
  box-sizing: border-box;
  height: 1px;
}
.line1,
.line2,
.line3,
.line4,
.line5 {
  top: 59.5px;
}
.line2,
.line3,
.line4,
.line5 {
  top: 119.5px;
}
.line3,
.line4,
.line5 {
  top: 179.5px;
}
.line4,
.line5 {
  top: 239.5px;
}
.line5 {
  top: 299.5px;
}
.dottedLines {
  width: 93.62%;
  top: 11px;
  right: 0;
  left: 6.38%;
  height: 300px;
}
.aug,
.aug1,
.dottedLines {
  position: absolute;
}
.aug {
  width: 7.59%;
  top: 0;
  left: 0;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.aug1 {
  width: 8.53%;
  left: 18.01%;
}
.aug1,
.aug2,
.aug3,
.aug4 {
  top: 0;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.aug2 {
  position: absolute;
  width: 10.43%;
  left: 35.54%;
}
.aug3,
.aug4 {
  width: 9.95%;
}
.aug3 {
  position: absolute;
  left: 54.27%;
}
.aug4 {
  left: 72.75%;
}
.aug4,
.sep2,
.xAxis {
  position: absolute;
}
.sep2 {
  width: 8.05%;
  top: 0;
  left: 91.95%;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.xAxis {
  width: 82.75%;
  top: 321px;
  right: 4.31%;
  left: 12.94%;
  height: 21px;
}
.div28 {
  width: 100%;
  top: 0;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.div28,
.div29,
.div30 {
  position: absolute;
  left: 0;
}
.div29 {
  width: 94.95%;
  top: 60px;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.div30 {
  width: 80%;
  top: 120px;
}
.div30,
.div31,
.div32 {
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.div31 {
  position: absolute;
  width: 80%;
  top: 180px;
  left: 0;
}
.div32 {
  width: 74.95%;
  top: 240px;
}
.div32,
.div33,
.yAxis {
  position: absolute;
  left: 0;
}
.div33 {
  width: 40%;
  top: 300px;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
}
.yAxis {
  width: 3.92%;
  top: 0;
  right: 96.08%;
  height: 321px;
  text-align: left;
}
.columnChild {
  position: absolute;
  width: 67.57%;
  top: 30px;
  right: 0.14%;
  left: 32.29%;
  max-width: 100%;
  overflow: hidden;
  height: 117px;
  object-fit: cover;
}
.column,
.columnInner,
.columnItem {
  position: absolute;
  left: 0;
  height: 147px;
}
.columnItem {
  width: 41.14%;
  top: 0;
  right: 58.86%;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
}
.column,
.columnInner {
  width: 7.33%;
  top: 140px;
  right: 92.67%;
}
.columnInner {
  width: 67.57%;
  top: 30px;
  right: 0.14%;
  left: 32.29%;
  max-width: 100%;
  overflow: hidden;
  height: 166px;
  object-fit: cover;
}
.columnChild1 {
  position: absolute;
  width: 41.14%;
  top: 0;
  right: 58.86%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 196px;
}
.column1,
.rectangleIcon {
  position: absolute;
  width: 7.33%;
  top: 91px;
  right: 74.14%;
  left: 18.53%;
  height: 196px;
}
.rectangleIcon {
  width: 67.57%;
  top: 30px;
  right: 0.14%;
  left: 32.29%;
  max-width: 100%;
  overflow: hidden;
  height: 217px;
  object-fit: cover;
}
.columnChild2 {
  position: absolute;
  width: 41.14%;
  top: 0;
  right: 58.86%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 247px;
}
.column2,
.columnChild3 {
  position: absolute;
  width: 7.33%;
  top: 40px;
  right: 55.6%;
  left: 37.07%;
  height: 247px;
}
.columnChild3 {
  width: 67.57%;
  top: 29.5px;
  right: 0.14%;
  left: 32.29%;
  max-width: 100%;
  overflow: hidden;
  height: 177.5px;
  object-fit: cover;
}
.columnChild4 {
  position: absolute;
  width: 41.14%;
  top: 0;
  right: 58.86%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 207px;
}
.column3,
.columnChild5 {
  position: absolute;
  width: 7.33%;
  top: 80px;
  right: 37.06%;
  left: 55.61%;
  height: 207px;
}
.columnChild5 {
  width: 67.57%;
  top: 29.7px;
  right: 0.14%;
  left: 32.29%;
  max-width: 100%;
  overflow: hidden;
  height: 208.3px;
  object-fit: cover;
}
.columnChild6 {
  position: absolute;
  width: 41.14%;
  top: 0;
  right: 58.86%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 238px;
}
.column4,
.columnChild7 {
  position: absolute;
  width: 7.33%;
  top: 49px;
  right: 18.53%;
  left: 74.14%;
  height: 238px;
}
.columnChild7 {
  width: 67.57%;
  top: 30px;
  right: 0.14%;
  left: 32.29%;
  max-width: 100%;
  overflow: hidden;
  height: 257px;
  object-fit: cover;
}
.columnChild8 {
  position: absolute;
  width: 41.14%;
  top: 0;
  right: 58.86%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-orange);
  height: 287px;
}
.chart,
.column5,
.columns {
  position: absolute;
  width: 7.33%;
  top: 0;
  right: 0;
  left: 92.67%;
  height: 287px;
}
.chart,
.columns {
  width: 82.35%;
  top: 24px;
  right: 4.71%;
  left: 12.94%;
}
.chart {
  width: 87.93%;
  top: 103px;
  right: 6.9%;
  left: 5.17%;
  height: 342px;
}
.background27 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  width: 53px;
  height: 34px;
}
.moreThan4003 {
  top: 29px;
  left: 0;
  line-height: 21px;
  font-weight: 500;
  color: var(--color-slategray-100);
}
.moreThan4003,
.top2,
.widget21 {
  position: absolute;
}
.top2 {
  top: 27px;
  right: 30px;
  width: 1260px;
  height: 50px;
  text-align: left;
}
.widget21 {
  top: 1290px;
  left: 402px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 1319px;
  height: 472px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.option1Basic {
  position: relative;
  background-color: #eef0f8;
  width: 100%;
  height: 1805px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-silver-100);
  font-family: var(--font-poppins);
}
